<html>
<head>
  <link rel="stylesheet" href="../../../resources/help.css"/>
</head>
<body class="demo-description">

<h1>Description</h1>

<p>
  The <a href="http://docs.yworks.com/yfilesjava/doc/api/#/api/com.yworks.yfiles.layout.organic.InteractiveOrganicLayout">InteractiveOrganicLayout</a> provides organic layout for use in interactive environments.
</p>
<p>
  A custom <a href="http://docs.yworks.com/yfilesjava/doc/api/#/api/com.yworks.yfiles.view.input.IPositionHandler">IPositionHandler</a> automatically triggers layout updates when graph elements have been moved interactively.
</p>

<h2>Things to try</h2>

<ul>
  <li>
    Create nodes by clicking on the canvas and interconnecting them by dragging from one (unselected) node to
    another. Select nodes and edges to delete them using the delete key.
  </li>
  <li>
    Select nodes by clicking them or using marquee selection.
  </li>
  <li>
    Move selected nodes around by dragging them around the screen. Note how an automatic organic layout
    algorithm is applied while you drag the node and after the drag operation is finished.
  </li>
</ul>

</body>
</html>