<html>
<head>
  <link rel="stylesheet" href="../../../resources/help.css"/>
</head>
<body class="demo-description">
<h1>Description</h1>

<p>
  This demo shows the effects of edge and port grouping when arranging graphs with
  <a href="https://docs.yworks.com/yfilesjava/doc/api/#/api/com.yworks.yfiles.layout.hierarchic.HierarchicLayout">HierarchicLayout</a>.
  Edge groups lead to edges sharing some of their path segments while port
  groups will combine the edges only in their first path segment.
</p>
<h3>Color Codings for Grouping Types:</h3>
<dl>
  <dt>Source grouped</dt>
  <dd>
    <span style="color:#4169E1;">Royal blue</span> or
    <span style="color:#DC143C;">crimson red</span>,
    <br>
    source port visible.
  </dd>
  <dt>Target grouped</dt>
  <dd>
    <span style="color:#483D8B;">Dark slate blue</span> or
    <span style="color:#D2691E;">chocolate brown</span>,
    <br>
    target port visible.
  </dd>
  <dt>Source or target grouped</dt>
  <dd>
    <span style="color:#6495ED;">Cornflower blue</span> or
    <span style="color:#FF8C00;">dark orange</span>,
    <br>
    both ports visible.
  </dd>
  <dt>Ungrouped</dt>
  <dd>
    Gray,
    <br>
    no ports visible.
  </dd>
</dl>
</body>
</html>