<html>
<head>
  <link rel="stylesheet" href="../../../resources/help.css"/>
</head>
<body class="demo-description">
<h1>Description</h1>
<p>
  Tree maps allow to visualize hierarchical data using nested rectangles,
  which in this case are represented by graph nodes. The size of leaf nodes in a tree map is proportional
  to a certain data value (i.e. weight).
  The
  <a href="https://docs.yworks.com/yfilesjava/doc/api/#/api/com.yworks.yfiles.layout.tree.TreeMapLayout">TreeMapLayout</a>
  algorithm arranges the nodes according to their weights and relations inside groups.
</p>
<h2>Application</h2>
<p>
  A common application for tree maps is the visualization of the file structure on a hard disk.
  This example shows a tree map of the source code folder of the yFiles for Java (Swing) library. The node sizes
  are defined by the actual file size on disk in bytes.
</p>
</body>
</html>
