<html>
<head>
  <link rel="stylesheet" href="../../../resources/help.css"/>
</head>
<body class="demo-description">
<h1>Description</h1>

<p>
  Shows how to interactively move graph elements around a marquee rectangle in a
  given graph layout so that the modifications in the graph are minimal.
</p>
<p>
  Every time the marquee rectangle is dragged interactively,
  <a href="https://docs.yworks.com/yfilesjava/doc/api/#/api/com.yworks.yfiles.layout.partial.ClearAreaLayout">ClearAreaLayout</a>.
  will push away the other elements, so there is a free area for the rectangle.
</p>
  <h2>Things to Try</h2>
<ul>
  <li>
    Drag the mouse with the <em>right button pressed</em>
    to create a marquee rectangle and watch the graph give way to it.
  </li>
  <li>
    Start dragging the marquee rectangle within a group node to create more space in the group.
  </li>
</ul>
</body>
</html>