<html>
<head>
  <link rel="stylesheet" href="../../../resources/help.css"/>
</head>
<body class="demo-description">

<h1>Description</h1>

<p>
  Sankey diagrams are used for visualizing flow information. The thickness of
  the edges is proportional to the flow quantity. Such diagrams can be produced by means of the
  hierarchic layout algorithm.
</p>
<p>
  The example diagram shows a voters' migration flow between different political parties over the course of
  three elections (each column represents an election). The flow is depicted from left to right.
</p>

<h2>Things to try</h2>
<ul>
  <li>
    Toggle the checked state of the checkbox in the top toolbar.
    <br>
    If the box is checked, the layout algorithm should use the existing drawing
    as sketch for the next layout run.
    <br>
    If not checked, the layout algorithm can reduce the number of edge crossings
    (not considering the edge thickness).
  </li>

  <li>
    Select and drag a node up or down.
    <br>
    A layout calculation is triggered automatically when the node is no longer
    dragged (i.e. the mouse button is released).
    <br>
    Note, the new node position is considered only if the checkbox in the top
    toolbar is checked.
  </li>
</ul>

</body>
</html>
