<html>
<head>
  <link rel="stylesheet" href="../../../toolkit/style/demo.css"/>
</head>
<body class="demo-description">

<h1>Description</h1>

<p>
  Sankey diagrams are used for visualizing flow information. The thickness of
  the edges is proportional to the flow quantity. Such diagrams can be produced by means of the
  hierarchic layout algorithm.
</p>
<p>
  The example diagram shows a voters' migration flow between different political parties over the course of
  three elections (each column represents an election). The flow is depicted from left to right.
</p>

<h2>Things to try</h2>

<p>
The user can select from the checkbox in the top toolbar, whether or not the layout algorithm should use the existing
drawing as sketch for the next layout run. If not selected, the layout algorithm can reduce the number of edge
crossings (not considering the edge thickness).
</p>

</body>
</html>
