<html>
<head>
  <link rel="stylesheet" href="../../../toolkit/style/demo.css"/>
</head>
<body class="demo-description">
<h1>Description</h1>
<p>
  Play with the most used layout algorithms of yFiles, including hierarchic, organic, orthogonal, tree, circular and balloon styles.
</p>
<p>
  The configuration panel provides access to the most important settings of each algorithm.
  Typically, an algorithm allows even more options in code.
</p>
<p>
  Since not every layout style works well for every type of graph, we provide several suitable sample
  graphs.
</p>
<p>
  The interactive editing capabilities of the graph component of this demo are explained in the
  <em>Simple Editor demo</em>.
</p>

<h2>Interaction</h2>

<h3>Browse the <em>Sample Graphs</em></h3>
Each sample graph is coupled with a layout algorithm well suited for the graph.

<h3>Browse the <em>Layout Styles</em></h3>
Test different layout algorithms for a graph and explore the various <em>configuration options</em> of the algorithms.
<p>
  Run a layout algorithm with the selected settings by pressing the <em>Apply</em> button.
</p>
<p>
  Restore the default settings of an algorithm with the <em>Reset</em> button.
</p>

</body>
</html>