<html>
<head>
  <link rel="stylesheet" href="../../../resources/help.css"/>
</head>
<body class="demo-description">
  <h1>Description</h1>
  <p>
    This demo shows how to emphazise important, or 'critical', paths with
    hierarchic and tree layout algorithms.
    (The algorithm may be changed in the demo source code.)
    <br>
    To make these critical paths more striking, nodes and edges in each path are
    aligned (in layout direction) if possible.
    <br>
    If there is more than one critical path, priorities can be assigned to
    define which path should be aligned in case a node or edge is part of more
    than one critical path.
  </p>

  <h2>Things to Try</h2>
  <ul>
    <li>
      Use the toolbar button to mark random paths in the graph and see how the
      layout changes.
    </li>
    <li>
      Switch between examples for hierarchic layout and tree layout by changing
      the source code.
    </li>
  </ul>
</body>
</html>
