<html>
<head>
  <link rel="stylesheet" href="../../../toolkit/style/demo.css"/>
</head>
<body class="demo-description">

<h1>Description</h1>

<p>
  Graphs in applications often dynamically change over time. yFiles for Java (Swing) layout algorithms can be used to
  adapt changes incrementally by adding nodes and edges to an existing layout and dynamically assigning port constraints.
</p>

<h2>Things to try</h2>

<ul>
  <li>
    Move and resize nodes and watch the layout update. During moves the target layer is indicated.
  </li>
  <li>
    Create edges and see the routes being recalculated immediately.
  </li>
  <li>
    Create new nodes and observe how they are inserted into the drawing near the place they have been created.
  </li>
  <li>
    Drag the first and last bend (or create one) of an edge to interactively assign or reset port constraints.
  </li>
  <li>
    Use the popup menu to reroute selected edges or optimize selected node locations.
  </li>
  <li>
    Loading a new graph creates an initial layout that can then be modified in the same way.
  </li>
</ul>

</body>
</html>